.container {
  display: grid;
  /* background-color: blue; */
  grid-template-columns: 2fr 10fr;
  height: 100vh;
  width: 100vw;
}

.itemSideBar {
  position: fixed;
  /* background-color: bisque; */
  padding: 20px;
}

.itemAnalyticsContainer {
  margin-left: 250px;
  overflow-y: auto;
  width: 83vw;
  overflow-x: none;
}
