.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 6fr 1fr;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: #e4e4e4;
}

.item1 {
  display: flex;
  justify-content: center;
}

.list {
  list-style-type: none;
  padding: 2px;
  cursor: pointer;
}

.list:hover {
  color: grey;
}

.containerFooter {
  display: flex;
  background-color: #242323;
  justify-content: center;
  padding: 20px;
}

.copyRight {
  color: white;
}
