.menuContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #242323;

  width: 100%;
  z-index: 1000;
  min-width: 160px;
}

.menuContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuContainer ul li {
  padding: 10px 15px;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: white;
}
